.card-container {
  margin-top: 10vh !important;
  margin-left: 10vw !important;
}

.card {
  width: 18rem;
  border: 3px solid #2255 !important;
  background-color: #0d6efd !important;
  padding: 20px;
  margin-bottom: 60px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}
